cachetools==5.3.1
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-search-results==2.4.2
huggingface-hub==0.19.4
langchain==0.0.327
langchainhub==0.1.13
langcodes==3.3.0
langsmith==0.0.56
numpy==1.24.3
oauthlib==3.2.2
openai==0.27.8
pandas==2.0.3
pip-requirements-parser==32.0.1
pip-tools==7.3.0
pipenv==2023.9.8
platformdirs==3.10.0
preshed==3.0.9
pydantic==1.10.13
pymongo==3.11.0
requests==2.31.0
requests-oauthlib==1.3.1
streamlit==1.29.0
streamlit-feedback==0.1.2
textsearch==0.0.24
trubrics==1.6.2
virtualenv==20.24.5
